
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pexels-cats-coming-707582.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
nav{
width: 100%;
height: 60px;
background-color: black;

}
nav h3{
font-family: Arial, Helvetica, sans-serif;
font-size: x-large;
color: #fff;
float: left;
padding: 10px 20px;
}
nav ul {
float: left;
}
nav ul li {
float: left;
text-decoration: none;
list-style: none;
position: relative;
}
nav ul li a{
font-family: Arial, Helvetica, sans-serif;
color: #fff;
font-size: 14px;
padding: 20px 20px;
display: block;
text-decoration: none;
}
nav ul li ul{
display:none ;
position: absolute;
padding: 0px 0px 10px 5px;
}
nav ul li:hover ul {
background-color:;
display: block;

}
nav ul li ul li a:hover{
color: rgb(97, 148, 148);
background-color: bisque;
width:70px;
border-radius: 20px;

}
nav ul li ul li{
line-height:0px ;
    
}
nav ul li ul{
background-color: black;;

}
nav form{
position: absolute; 
top: 13px ;
left: 80%;
}
nav form button:hover{
background-color: rgb(214, 167, 133);
}
nav form button{
padding: 8px;
border: none;
}
nav ul li:hover{
background-color: rgb(109, 88, 63);
}
article{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top: 40px;
margin-left: 50px;

}


.paragraph{text-align: center;
    font-size: x-large;
    
}
.start{
    display:flex;
    position: ;
    text-decoration:underline ;
    color:black;
    justify-content: center;
    margin-top: 200px;
    line-height: ;
font-size: 40px;
color:;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/*.start:hover:before{
    content: '';
    display: block;
    background-color: black;
    width: 180px;
    height: 5px;
    margin-top: 10px;
    transition: transform ease-out 7s;
    transform: scale();
    
    text-decoration: underline;
}
.start:hover::before{
    transition: scale(1);
}*/
 .container_html {
    
    font-size:x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    
    color: black;

}
.container_css {
    padding:  ;
    font-size:x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    
    

    
}
 .container_js {
    
    font-size:x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;

    
    
}
 .container_js::after{
    content: '';
    display: block;
    background-color: rgb(77, 75, 72);
    width: 99px;
    height: 5px;
}

 .container_css::after{
    content: '';
    display: block;
    background-color: rgb(63, 61, 57);
    width: 99px;
    height: 5px;
}

 .container_html::after{
    content: '';
    display: block;
    background-color: rgb(67, 65, 64);
    width: 99px;
    height: 5px;
}


.container .container_css:hover{
    background-color: rgb(211, 202, 202);
    transition: 2s;
    padding-left:30px ;
}

.container .container_js:hover{
    background-color: rgb(211, 202, 202);
    transition: 2s;
    padding-left:30px ;
    
}

.container .container_html:hover{
    background-color: rgb(211, 202, 202);
    transition: 2s;
    padding-left:30px ;
}

/*footer{
    display: flex;
    background-color: black;
    color: #fff;
}*/
img{
    position:relative;
    left: 20px; 
}
article div div  p {
    text-align:;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    display: block;
}
article {
    width: 1200px;
    margin-top: 100px;
}

.last_div{
    position: absolute;
    top: 120%;
    color: #fff;
    background-color: black;
    background-size: ;
    height:15%;
    bottom: ;
    width: 100%;
}

   h2{
    
text-align: center;
font-size: small;
margin-top:40px
    }